In [1]:
#python tuples
my_tuple=(1,"anil","20me1A","banana")

#passing single value in tuple
single_val_tuple=("Niranjan",)

In [15]:
#accessing tuples
print(my_tuple[1])
print(my_tuple[-2])
my_tuple[1:3]

anil
20me1A

('anil', '20me1A')

In [23]:
#Tuple operations
#1.concatenation
tuple_1=("niranjan","lohith","ashwin")
tuple_2=(1,2,3,4,5,6,7,8,9,10)
print(tuple_1 + tuple_2)

#2.repetition
print(tuple_1 * 5)
print(tuple_2 * 10)

('niranjan', 'lohith', 'ashwin', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
('niranjan', 'lohith', 'ashwin', 'niranjan', 'lohith', 'ashwin', 'niranjan', 'lohith', 'ashwin', 'niranjan', 'lohith', 'ashwin', 'niranjan', 'lohith', 'ashwin')
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [55]:
#tuple methods
#1.count
my_tuple=("height","weight","age","gender","ethnicity","height")
print(my_tuple.count("height"))

#2.index
my_tuple=("height","weight","age","gender","ethnicity","height")
print(my_tuple.index("height"))

#3.sorted
a=(1,12,4,6,55,65,632)
x=sorted(a)
print(x)

#4.length
y=len(a)
print(y)

#5.slicing
slice=my_tuple[1:5]
print(slice)

#6.max
values=(2,323,45,63,2,46,743)
print(max(values))

#7.min
print(min(values))

2
0
[1, 4, 6, 12, 55, 65, 632]
7
('weight', 'age', 'gender', 'ethnicity')
743
2